<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="login0.css">
</head>

<body>
    <% for(let i of Lab_1) {%>
        <% if(i.app=='Matlab'){%>
            <%  locals.Total++; %>
            <% locals.matlab_1++;%>
          <% }%>
          <% if(i.app=='Intellij IDEA'){%>
            <%  locals.Total++; %>
             <% locals.idea_1++;%>
          <% }%>
          <% if(i.app=='MS Office Suit'){%>
            <%  locals.Total++; %>
             <% locals.ms_1++;%>
          <% }%>
          <% if(i.app=='PyCharm'){%>
            <%  locals.Total++; %>
             <% locals.pycharm_1++;%>
          <% }%>
        <% if(i.app=='Visual Studio 2022'){%>
          <%  locals.Total++; %>
           <% locals.vs_1++;%>
        <% }%>
        <% if(i.app=='Figma'){%>
            <%  locals.Total++; %>
             <% locals.figma_1++;%>
          <% }%>
    <% } %>
    <% for(let i of Lab_2) {%>
        <% if(i.app=='Matlab'){%>
            <%  locals.Total++; %>
            <% locals.matlab_2++;%>
          <% }%>
          <% if(i.app=='Intellij IDEA'){%>
            <%  locals.Total++; %>
             <% locals.idea_2++;%>
          <% }%>
          <% if(i.app=='MS Office Suit'){%>
            <%  locals.Total++; %>
             <% locals.ms_2++;%>
          <% }%>
          <% if(i.app=='PyCharm'){%>
            <%  locals.Total++; %>
             <% locals.pycharm_2++;%>
          <% }%>
        <% if(i.app=='Visual Studio 2022'){%>
          <%  locals.Total++; %>
           <% locals.vs_2++;%>
        <% }%>
        <% if(i.app=='Figma'){%>
            <%  locals.Total++; %>
             <% locals.figma_2++;%>
          <% }%>
    <% } %>
    <% for(let i of Lab_3) {%>
        <% if(i.app=='Matlab'){%>
            <%  locals.Total++; %>
            <% locals.matlab_3++;%>
          <% }%>
          <% if(i.app=='Intellij IDEA'){%>
            <%  locals.Total++; %>
             <% locals.idea_3++;%>
          <% }%>
          <% if(i.app=='MS Office Suit'){%>
            <%  locals.Total++; %>
             <% locals.ms_3++;%>
          <% }%>
          <% if(i.app=='PyCharm'){%>
            <%  locals.Total++; %>
             <% locals.pycharm_3++;%>
          <% }%>
        <% if(i.app=='Visual Studio 2022'){%>
          <%  locals.Total++; %>
           <% locals.vs_3++;%>
        <% }%>
        <% if(i.app=='Figma'){%>
            <%  locals.Total++; %>
             <% locals.figma_3++;%>
          <% }%>
    <% } %>
    <div id="div1">
        <div id="div11">
            <img id="logo11" src="login0logo.svg">
        </div>
        <div id="div12">
            <a href="/">
                <img id="logo12" src="logoutbtn.svg">
            </a>
        </div>
        <div id="div13">
            <img id="logo13" src="account.svg">
        </div>
    </div>
    <div id="div2">
        <img id="logo21" src="navbar.svg">
    </div>
    <div id="div3">
        <img id="logo31" src="totalapps.svg">
        <div id="text">
            <% if(locals.Total<10){%>
                0<%= locals.Total %>
                    <%}%>
                        <% if(locals.Total>=10){%>
                            <%= locals.Total %>
                                <%}%>
        </div>
    </div>
    <div id="div4">
        <img id="logo41" src="apps.svg">
        <div id="text1">
            <% if(locals.matlab_1 + locals.matlab_2 + locals.matlab_3<10){%>
                0<%= locals.matlab_1 + locals.matlab_2 + locals.matlab_3 %>
                    <%}%>
                        <% if(locals.matlab_1 + locals.matlab_2 + locals.matlab_3>=10){%>
                            <%= locals.matlab_1 + locals.matlab_2 + locals.matlab_3 %>
                                <%}%>
        </div>
        <div id="text2">
            <% if(locals.pycharm_1 + locals.pycharm_2 + locals.pycharm_3<10){%>
                0<%= locals.pycharm_1 + locals.pycharm_2 + locals.pycharm_3 %>
                    <%}%>
                        <% if(locals.pycharm_1 + locals.pycharm_2 + locals.pycharm_3>=10){%>
                            <%= locals.pycharm_1 + locals.pycharm_2 + locals.pycharm_3 %>
                                <%}%>
            
        </div>
    </div>
    <div id="text3">
        <% if(locals.idea_1 + locals.idea_2 + locals.idea_3<10){%>
            0<%= locals.idea_1 + locals.idea_2 + locals.idea_3 %>
                <%}%>
                    <% if(locals.idea_1 + locals.idea_2 + locals.idea_3>=10){%>
                        <%= locals.idea_1 + locals.idea_2 + locals.idea_3 %>
                            <%}%>
        
    </div>
    <div id="text4">
        <% if(locals.vs_1 + locals.vs_2 + locals.vs_3<10){%>
            0<%= locals.vs_1 + locals.vs_2 + locals.vs_3 %>
                <%}%>
                    <% if(locals.vs_1 + locals.vs_2 + locals.vs_3>=10){%>
                        <%= locals.vs_1 + locals.vs_2 + locals.vs_3 %>
                            <%}%>
    </div>
    <div id="text5">
        <% if(locals.ms_1 + locals.ms_2 + locals.ms_3<10){%>
            0<%= locals.ms_1 + locals.ms_2 + locals.ms_3%>
                <%}%>
                    <% if(locals.ms_1 + locals.ms_2 + locals.ms_3>=10){%>
                        <%= locals.ms_1 + locals.ms_2 + locals.ms_3 %>
                            <%}%>
    </div>
    <div id="text6">
        <% if(locals.figma_1 + locals.figma_2 + locals.figma_3<10){%>
            0<%= locals.figma_1 + locals.figma_2 + locals.figma_3 %>
                <%}%>
                    <% if(locals.figma_1 + locals.figma_2 + locals.figma_3>=10){%>
                        <%= locals.figma_1 + locals.figma_2 + locals.figma_3 %>
                            <%}%>

    </div>
    <div id="div5">
        <div id="div50">
            <img id="labs" src="labs.svg">
        </div>
        <a href="/login1">
            <div id="div51"></div>
        </a>

        <a href="/login2">
            <div id="div52"></div>
        </a>

        <a href="/login3">
            <div id="div53"></div>
        </a>

    </div>
    <div id="div6">
        <div id="div61"> <p>AGNI MONITORING AND ANALYSIS SOFTWARE</p></div>
    </div>
    
</body>

</html>